.App {
  text-align: center;
  background-color: #000000;
  color:#b8b2b2;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

/* .sideBar{
  display:flex;
  flex-direction: column;
} */

