.post{
    border: 1px solid grey;
    margin-bottom: 15px;
    display:flex;
    justify-content: space-around;
    max-height:400px;
    overflow:scroll;
    background-color:#211d1d;
}

.info {
    margin: 10px 0 10px 10px;
}

.info-item{
    display:inline-block
}

.contents{
    flex-grow:4;
    margin:0 20px;
}

.selftext{
    padding-bottom:20px;
}

a {
    color: #54beff
}

.points {
    color: #FF5700;
}

.children {
    color:#519fcf;
}

.image{
    width:60%;
    padding-bottom:20px;
}

.post_image{
    max-height:none;
    min-height:400px;
}

.image-carousel {
    width: 60%;
}

.carousel{
    width:100%;
}